<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission để kiểm tra WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SBooks">
        <activity
            android:name=".activities.customer.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.staff.StaffInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.staff.StaffOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.customer.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SBooks" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SBooks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.admin.AdminMainActivity" />
        <activity android:name=".activities.staff.StaffMainActivity" />
    </application>

</manifest>